:root {
    --p-dark: #212529;
    --p-light: #343A40;
    --p-lighter: #495057;
    --p-lightest: #6C757D;
    --s-dark: #ADB5BD;
    --s-light: #CED4DA;
    --s-lighter: #DEE2E6;
    --s-lightest: #E9ECEF;
    --text: #F8F9FA;
}

html {
    scroll-behavior: smooth;
    height:100vh;
    width:100%;
    color: var(--text);
    overflow-x: hidden;
    user-select: none;
}

* {
    box-sizing: border-box; 
}

*::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--p-dark);
    overflow-x: hidden;
}

header {
    background-color: var(--p-light);
    justify-content: space-between;
    font-family: 'Fjord One', serif;
    height:100vh;
    padding: 0.2rem 0 0.3rem 0.5rem;
    border-bottom: 1rem inset var(--p-lighter);
    border-top: 1rem outset var(--p-lighter);
    text-align: center;
}

header .center {
    position: relative;
    top:50%;
    opacity: 0;
    animation: fadeIn 3s 7s ease-in-out forwards;
}

header #hi {
    position:absolute;
    top: 25%;
    left: 8%;
    opacity: 0;
    animation: fadeInOut 5s ease-in-out forwards;
}

header #hi h1,
header #welcome h2,
header .center h1,
#about-me .section-header-box h3,
#my-work .section-two-header-box h3,
#contact-me h3 {
    color: var(--text) !important;
}

header #welcome {
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 20%;
    opacity: 0;
    animation: fadeInOut 5s 2.5s ease-in-out forwards;

}

header h1 {
    font-size: 5rem;
}


header nav {
    position:relative;
    left:50%;
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
    width:fit-content;
}

header nav a {
    text-decoration: none;
    text-align: center;
    color: var(--text);
    opacity: 0.6;
    margin: 0.3rem;
    transition: opacity 200ms ease;
    width:fit-content;
}

header nav a:hover {
    opacity: 1;
}

#about-me {
    background-color:var(--p-light);
    height:fit-content;
    min-height:100vh;
    padding: 0 1rem 0 1rem;
    opacity: 0;
}

#about-me h3 {
    position:relative;
    top: 0;
    left: 5%;
    font-size: 5rem;
    padding: 2.5rem 0 1rem 0.5rem;
}

#about-me .section-header-box {
    border-bottom: 0.3rem solid var(--s-lighter);

}

#about-me h4 {
    font-size: 2rem;
    margin:5%;
    color: var(--s-lightest);
    
}

#about-me .me-description {
    display:flex;
    flex-direction: column;
    width:70vw;
    margin: auto;
}

#about-me .me-description p {
    font-size: 1.3rem;
    font-family: 'Zilla Slab';
    margin: 1.5rem 0.5rem;

}

#about-me .img-holder {
    border: 0.3rem solid var(--s-dark);
    width: 30vw;
    background-image: url(../assets/images/me.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#my-work {
    background-color: var(--p-light);
    min-height:fit-content;
    padding: 0 1rem 1rem 1.5rem;
    border-top: 0.3rem solid var(--s-light);
    border-bottom: 0.3rem solid var(--s-light);
    opacity:0;
}

#my-work .section-two-header-box {
    border-bottom: 0.3rem solid var(--s-lighter);
    overflow-x: hidden;
}

#my-work h3 {
    position:relative;
    top: 0;
    left: 5%;
    font-size: 5rem;
    padding: 2.5rem 0 1rem 0.5rem;
}

#card-container {
    overflow-x: hidden;
    max-width: 100%;
}

#card-container > div img {
    width:75%;
    
}

#dash-title {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 3rem
}

#day-title {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 3rem
}

#cal-title {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 3rem
}

.work-description {
    font-size: 1.5rem;
    margin-left: 15%;
    margin-bottom: 1.5rem;
    opacity:0.8;
}

.work-description a {
    color: var(--text);
    text-decoration: none;
    transition: border-bottom 500ms ease;
}

.work-description a:hover {
    border-bottom: 1px solid;
}

.quote-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.quote {
    font-size: 2.5rem;
}

.quote::before {
    font-family: monospace;
    position: relative;
    top:-18px;
    right: 8px;
    content: open-quote;
    transform: scale(1.5);
}

.quote::after {
    font-family: monospace;
    position: relative;
    top:28px;
    left: 8px;
    content: close-quote;
}

.author {
    position: relative;
    left: 25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
}

#descDiv {
    min-height:100%;
}

#resumeLinkBox {
    margin:5rem 0;
    text-align: center;
}

#resumeLinkBox a {
text-decoration: none;
font-size: 1.5rem;
color: var(--text);
opacity: 0.5;
transition: opacity 500ms ease-in-out;
}

#resumeLinkBox a:hover {
    opacity:1;
}

#contact-me {
    background-color: var(--p-light);
    display:flex;
    justify-content: space-between;
    overflow-y: hidden;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#contact-me h3 {
    font-size: 3rem;
    padding-left: 1rem;
}

#contact-me ul {
    list-style: none;
}

#contact-me ul li a {
    text-decoration: none;
    color: var(--text);
    opacity: 0.6;
    transition: opacity 200ms ease;
}

#contact-me ul li a:hover {
    opacity: 1;
}

.contact-items {
    text-align: center;
    justify-content: space-evenly;
    width:50%;
}

.contact-items li {
    margin: auto 0;
}


.flex-row {
    display:flex;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.border-top {
    border-top: 0.2rem outset var(--s-light);
    padding-top: 1.5rem;
}

.hidden {
    opacity:0;
    display:none;
}

.fadeIn-animation {
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (max-width:425px) {

    html {
        max-width: 100vw;
        overflow-x: hidden !important;
    }

    #hi h1 {
        font-size: 2rem;
    }

    #welcome h2 {
        position: absolute;
        top: 40%;
        left: 15%;
        width:10rem;
        font-size: 1rem;
    }

    header .center h1 {
        font-size: 2.4rem;
    }

    #about-me {
        overflow-x: hidden;
    }

    #about-me .section-header-box > h3 {
        font-size: 2rem;
    }

    #about-me .sub-header {
        font-size: 1.5rem;
    }

    #about-me  .me-description p {
        font-size:1rem;
    }
    #about-me .flex-row {
        flex-direction: column !important;
    }

    #about-me .img-holder {
        width:75%;
        height:25vh;
        margin: 0 auto;
    }

    .quote-wrapper .quote {
        font-size:1.4rem;
    }

    .quote-wrapper .author {
        font-size:1rem;
    }

    #my-work .section-two-header-box > h3 {
        font-size: 2rem;
    }

    #card-container {
        overflow-x: hidden;
        padding: 0.3rem 0;
    }

    #dash-title {
        font-size: 2rem !important;
    }

    #day-title {
        font-size: 2rem !important;
    }

    #cal-title {
        font-size: 2rem !important;
    }

    .work-description {
        font-size: 1rem !important;
    }

    .work-description a {
        text-decoration: underline;
    }
    
    #contact-me {
        display:flex;
        flex-direction: column;
    }

    #contact-me h3 {
        font-size: 1.4rem;
        margin-bottom: 0.2rem;
    }

    #contact-me .contact-items {
        font-size: 0.7rem;
        margin: 0 auto;
        width:75%;
    }

    #contact-me .contact-items li {
        margin: 0 0.1rem;
    }
    

    
}