.footerSection {
    text-align: center;
    background-color: #224760;
    padding: 1rem;
    list-style-type: none;
}

.footerSection a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 100ms ease-in-out;
}

.footerSection a:hover {
    color: rgb(153, 149, 149);
}