.navbar {
    width: 100%;
    color: white;
    font-family: 'monospace';
    background-color: #224760;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 5px;
    border-bottom: 5px inset rgb(37, 37, 37);
    box-shadow: 5px 5px 5px 5px rgb(37, 37, 37);
}

.navbar h1 {
    font-size: 3rem;
}

.navbar-tabs {
    display: flex;
    list-style-type: none;
}

.navbar-item a {
    font-size: 1.3rem;
    color: white;
    padding: 0.8rem;
    text-decoration: none;
}